@import url('https://fonts.google.com/');
:root {
    --primary-color: #FFB20F;
    --secondary-color: #00171F;
    --accent1-color: #003459;
    --accent2-color: #00A7E1;

    --heading-font: 'Roboto Slab', serif;
    --paragraph-font: 'Noto Sans', sans-serif;

    --nav-backgroung-color: #3A506B;
    --nav-link-color: #f3e0e0;
    --nav-hover-link-color: #e1d5d5;
    --nav-hover-backgroung-color: #3A506B;
}


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
    font-family: var(--heading-font);
    color: var(--nav-backgroung-color);
}

nav {
    background-color: var(--nav-backgroung-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-backgroung-color);
    /*THIS IS HOW TO MAKE A COMMENT*/
}