        nav {
    background-color: #5BC0BE;
    padding: 10px;
    }

    nav a {
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
    }

    h1 {
    color: #5BC0BE;
    }

    h2 {
    color: #5BC0BE;
    }

    img{
    width: 150px;
    height: auto;
    border: 1px solid #5BC0BE;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    }

    aside {
    margin: 1em;
    border: 1px solid rgba (0, 0, 0, 0.2); /* 1 */
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    }

    aside img {
    width: 200px;
    height: auto;
    }

    p {
    color: #3A506B;
    padding: 0;
    }

    footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    }